@import "navbarstyle.css";
@import "clubcard.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

a {
  text-decoration: none !important;
  color: #fff !important;
}

html {
  font-size: 16px;
  scroll-behavior:smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../res/home-bg-4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* display: flex; */

}

.color-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  z-index: -100 !important;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

header {
  z-index: 2 !important;
  margin-bottom: 3rem;
}

.slider-container {
  z-index: 2;
}

.welcome-to-cult {
  margin-top: 3.2rem;
  position: relative;
  text-align: center;
  color: white;
  z-index: 1;
}

.welcome-to-cult .welcome {
  font-family: 'Baloo Bhai', cursive;
  font-size: 8rem;
}

.welcome-to-cult .iitbhilai {
  font-family: 'Stylish', sans-serif;
  font-size: 4rem;
  color: #f4eb66;
}

.welcome-to-cult .desc-cult {
  font-family: 'Stylish', sans-serif;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  position: relative;
  max-width: 100ch;
  margin:7rem auto;
}

.meet-clubs {
  margin-top: 15rem;
  margin-bottom: 5rem;
  position: relative;
  text-align: center;
  color: white;
  z-index: 1 !important;
}

.meet-clubs .clubs-header {
  font-family: 'Baloo Bhai', cursive;
  font-size: 7rem;
}

.meet-clubs .clubs-desc {
  font-family: 'Stylish', sans-serif;
  font-size: 4rem;
  color: #f4eb66;
}

.upcoming-event {
  margin-top: 15rem;
  margin-bottom: 5rem;
  position: relative;
  text-align: center;
  color: white;
  z-index: 1 !important;
}

.upcoming-event .event-header {
  position: relative;
  font-family: 'Baloo Bhai', cursive;
  font-size: 7rem;
}

.upcoming-event .event-desc {
  font-family: 'Stylish', sans-serif;
  font-size: 4rem;
  color: #f4eb66;
}

.upcoming-event img {
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  margin: 6rem auto;
  overflow: hidden;
  width: 96%;
  height: 96%;
}

.upcoming-event p a {
  margin-top: -3rem;
  text-decoration: none;
  font-family: 'Quicksand', serif;
  font-size: 2rem;
  color: #f4eb66 !important;

If you want to restrict a responsive image to a maximum size, use the max-width property, with a pixel value of your choice:
Example
.responsive {

}

/* @media screen and (max-width: 960px) {
  .container {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    display: block;
  }
} */



@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@media (max-width: 920px) {
  .welcome-to-cult {
    margin-top: 37px;
  }

  .welcome-to-cult .welcome {
    font-size: 4.8rem;
  }

  .welcome-to-cult .iitbhilai {
    font-size: 2.7rem;
  }

  .welcome-to-cult .desc-cult {
    font-size: 1rem;
    max-width: 42ch;
  }

  .meet-clubs .clubs-header {
    font-size: 4.8rem;
  }

  .meet-clubs .clubs-desc {
    font-size: 2.7rem;
    color: #f4eb66;
  }

  .upcoming-event .event-header {
    font-size: 4.8rem;
  }

  .upcoming-event .event-desc {
    font-size: 2.7rem;
    color: #f4eb66;
  }

  .upcoming-event img {
    margin: 4rem auto;
  }
}
